
<h1 align="center" class="display-4">Login de acesso</h1>
  <div align="center">
    <form class="form-signin" action="/login" method="POST">
        <img class="mb-4" src="/images/logo.png" alt="" width="72" height="72">
        <label for="inputEmail" class="sr-only">Usuário</label>
        <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Usuário" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; D&D Support Service - Consultoria em T.I</p>
    </form>
</div>


<% if(message) { %>
<script>
$(document).ready(function() {
  Swal.fire({
    icon: 'info',
    title: '<%= message %>',
    showConfirmButton: false,
    timer: 1500
  })

});
</script>
<% } %>
