<h1>Register</h1>
<form method="POST" action="user/create">
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="submit">
</form>
