
	<h3>Users Listing</h3>
	<table class='table table-hover table-condensed'>
	<tr>

	<th> nome </th>

	<th> email </th>

	<th> password </th>

	<th></th>
	<th></th>
	<th></th>
</tr>
	<% _.forEach(userss, function(users) { %>
    		<tr data-id="<%=users.id %>" data-model="users">

			<td><%= users.username%></td>

			<td><%= users.email%></td>

			<td><%= users.password%></td>

			<td><a href="/users/show/<%=users.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
			<td><a href="/users/edit/<%=users.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>

			<td><form action="/users/destroy/<%=users.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
			</form></td>
		</tr>
<% }) %>
	</table>
	<a href="/users/new/" class="btn btn-success btn-sm" role="button">New Users</a> |
	<a href="/">all scaffolds</a>
