<h1 class="display-4">Articles</h1>
<a href="/articles/new" class="btn  btn-xs btn-primary">Novo</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% articles.forEach(function(article) { %>
      <tr>
        <td><%= article.id %></td>
        <td><a href="/articles/show/<%= article.id %>"><%= article.title %></a></td>
        <td><%= article.body %></td>
        <td><a href="/articles/show/<%= article.id %>" class="btn btn-primary btn-xs">Show</a></td>
        <td><a href="/articles/edit/<%= article.id %>" class="btn btn-primary btn-xs">Edit</a></td>
        <td><form class="d-inline" action="/articles/destroy/<%= article.id %>" method="DELETE">
          <input type="submit" value="Delete" class="btn btn-danger btn-xs">
        </form></td>
      </tr>
    <% }) %>

  </tbody>
</table>
