<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/articles/list">Articles</a></li>
  <li class="breadcrumb-item active">Add</li>
</ol>
<h1 class="display-4">New Article</h1>
<form class="form-horizontal" action="/articles/create" method="post">

  <div class="form-group">
    <label for="title" class="control-label col-lg-2">Title</label>
    <div class="col-lg-3">
      <input type="text" name="title" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="control-label col-lg-2">Body</label>
    <div class="col-lg-3">
      <input type="text" name="body" class="form-control" >
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <input type="submit" value="Salvar" class="btn btn-primary">
      <a href="/articles" class="btn btn-primary">Voltar</a>
    </div>
  </div>
</form>
