<h1 class="display-4">Article</h1>

<dl class="dl-horizontal">
  <dt><strong>ID:</strong></dt>
  <dd><%= article.id %></dd>
  <dt><strong>Title:</strong></dt>
  <dd>  <dd><%= article.title %></dd>
  <dt><strong>Body:</strong></dt>
  <dd>  <dd><%= article.body %></dd>
</dl>

<a href="/articles" class="btn btn-primary">Voltar</a>
