form.edit {
	margin: 10px;
	padding: 50px;
	width: 500px;

}

form.show {
	margin: 10px;
	padding: 50px;
	width: 500px;

}

form.new {
	margin: 10px;
	padding: 50px;
	width: 500px;

}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

@media (min-width: 90%) {
.container-fluid{
  width: 90%;
}
}
