<h1 class="display-4">Welcome my first Sails App</h1>
<p class="mb-4">This is a Sails App.js for managing articles</p>
<a href="/articles" class="btn btn-light">Articles</a>
<a href="/users" class="btn btn-light">Users</a>
<a href="/articles/new" class="btn btn-light">Add Article</a>


<% if(message) { %>
<script>
$(document).ready(function() {
  Swal.fire({
    icon: 'info',
    title: '<%= message %>',
    showConfirmButton: false,
    timer: 1500
  })

});
</script>
<% } %>
