
<h1 align="center" class="display-4">Login de acesso</h1>
  <div align="center">
    <form class="form-signin" action="/users/new_session" method="get">
        <img class="mb-4" src="/images/logo.png" alt="" width="72" height="72">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; D&D Support Service - Consultoria em T.I</p>
    </form>
</div>

<% if (typeof title != 'undefined' && title.length > 0) { %>
  <script>
  $(document).ready(function() {
    Swal.fire({
      icon: '<%= icon %>',
      title: '<%= title %>',
      showConfirmButton: false,
      timer: 1500
    })

  });
  </script>
<% } %>
