	<form action="/users/update/<%=users.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a users... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>

	<div class="form-group" style="width: 400px;">
	<label>Nome</label>
	<input value="<%= users.nome %>" name="nome" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Email</label>
	<input value="<%= users.email %>" name="email" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Senha</label>
	<input value="<%= users.password %>" name="password" type="text" class="form-control"/>
	</div>

		</div>
		<input type="submit" value="Update Users" class="btn btn-default"/>
		<a href="/users/show/<%=users.id %>" class="btn btn-danger">Cancel</a>
	</form>
