<form action="/users/create" method="POST" role="form" class="new">
	<div class="form-group">
	<h2>Create a users</h2>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="nome" name="nome">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="email" name="email">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="password" name="password">
	</div>

	</div>
	<input type="submit" value="Submit" class="btn btn-default"/> |
	<a href="/users">Back to list</a>
</form>
