<form class="show">
	<div class="form-group">
		<h1 display-4 class="display-4">Usuário</h1>

	<div class="form-group" style="width: 400px;">
	<label>Nome</label>
	<input value="<%= users.nome %>" name="nome" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Email</label>
	<input value="<%= users.email %>" name="email" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Senha</label>
	<input value="<%= users.password %>" name="password" type="text" class="form-control" disabled/>
	</div>

</div>

<a href="/users/edit/<%=users.id %>" class="btn btn-default">Editar</a>
<a href="/users" class="btn btn-primary">Voltar</a>
</form>
